 /*CSS meetings 2015-2016*/

/*navbar*/
 .nav li a{
    color:#000!important;
    padding-bottom: 25px!important;
}
.navbar-inverse{
    border-color:#000!important;
}
a.navbar-brand{
    padding-bottom: 10px!important;
}

/*table custom*/
table { border-collapse: separate!important;margin-top: 5%;border: none; }
td { border:none;}
tr:first-child td:first-child { border-top-left-radius: 10px!important; }
tr:first-child td:last-child { border-top-right-radius: 10px!important;}
tr:last-child td:first-child { border-bottom-left-radius: 10px!important; }
tr:last-child td:last-child { border-bottom-right-radius: 10px!important; }

/*basic elements*/
#cover{width:100%;padding-left: 0px; !important;}



/*main*/
 #cover{z-index: 5;position: relative; !important;}
 #back{width:100%;background-color:#CECECE;}
#main{margin:1%;background-color: #FFFFFF;!important;  }
 #pform{margin-top: 4%;}

 /*photo gallery*/

 #thumbnail{width: 100%;height: 100%; !important;}




/*footer*/
#footer1{background-color:#696969 ;height: 60px;margin-top: -70px;
    position: relative;z-index: 500;}

#footer2{background-color:#CECECE;height: 60px;margin-top:-10px;
    position: relative;z-index: 500;}

#footer3{background-color: #000000;height: 52px;margin:-99px 35px 0 35px;
    position: relative;z-index: 500;text-decoration: none;color: #ffffff;}